@import '/src/app/styles/variables.scss';

main {
    width: 100%;
    padding: 0 5vw;
    margin-bottom: 50px;
}

h2 {
    padding: 2px;
    border-radius: $radius;
}

.main-box {
    display: flex;
    border-radius: $radius;
}

.info-box {
    border-radius: $radius;
}